span{
    display: inline-block;
    width: auto;
    word-break: break-all;
    white-space: normal;
}
.public{
    font-size: 8px;
    color: gray;
    float: left;
    width: 100%;
}
.send{
    float: right;
    width: 40%;
    text-align: left;
}
.receive{
    float: left;
    width: 40%;
    text-align: left;
}
.head{
    font-size: 8px;
}
.body{
    font-size: 16px;
    text-indent: 2em;
}