<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room | GoChat</title>
    <link href="/view/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/view/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.js"></script>
    <script src="/view/static/js/room.js"></script>
    <link href="/view/static/css/room.css" rel="stylesheet">
</head>
<body>
<input type="hidden" id="userId" value="{{.userId}}">
<input type="hidden" id="username" value="{{.username}}">
<input type="hidden" id="roomId" value="{{.roomId}}">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <div class="navbar-header me-auto">
                <a href="https://github.com/SkylinerZzz/gochat" target="_blank" class="navbar-brand">GoChat</a>
            </div>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand">{{.room_name}}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary">{{.username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3 mb-3 p-3" style="width: 75%">
    <div class="list-group overflow-y-auto border" style="height: 400px;" id="messageArea">
        <!--
        <div class="list-group-item border-0">
            <div class="public text-center">developer enters into the room</div>
        </div>
        <div class="list-group-item border-0">
            <div class="row receive">
                <span class="head">developer</span>
                <span class="body">hello</span>
            </div>
        </div>
        <div class="list-group-item border-0">
            <div class="row send">
                <span class="head">developer</span>
                <span class="body bg-primary text-light rounded">hello</span>
            </div>
        </div>
        <div class="list-group-item border-0">
            <div class="row receive">
                <span class="head"><a class="text-dark" style="text-decoration: none" href="" data-bs-toggle="modal" data-bs-target="#profileModal">developer</a></span>
                <span class="body">hello</span>
            </div>
        </div>
        -->
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-light" style="width: 50%">
            <img src="/view/static/icon/image.ico" style="width: 20px;height: 20px">
        </button>
        <button class="btn btn-outline-light" style="width: 50%">
            <img src="/view/static/icon/folder.ico" style="width: 20px;height: 20px">
        </button>
    </div>
    <div class="row">
        <div class="col-10 pe-1">
            <textarea class="form-control" style="resize: none" rows="1" maxlength="300" id="inputArea"></textarea>
        </div>
        <div class="col-2 ps-1">
            <button class="btn btn-primary" style="width: 100%" id="sendBtn" onclick="send()" disabled>Send</button>
        </div>
    </div>
</div>
<div class="modal fade" id="profileModal">
    <input type="hidden" id="toUserId">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="profileUsername"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="height: 200px">
            </div>
            <div class="modal-footer">
                <a href="/private-chat" class="btn btn-success form-control" onclick="privateChat()">Send message</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>